* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/alt.xsl -text
/apertium-oci-fra.fra-oci.lrx -text
/apertium-oci-fra.fra-oci.t1x -text
/apertium-oci-fra.fra-oci.t2x -text
/apertium-oci-fra.fra-oci.t3x -text
/apertium-oci-fra.fra-oci@gascon.lrx -text
/apertium-oci-fra.oci-fra.dix -text
/apertium-oci-fra.oci-fra.lrx -text
/apertium-oci-fra.oci-fra.t1x -text
/apertium-oci-fra.oci-fra.t2x -text
/apertium-oci-fra.oci-fra.t3x -text
/autogen.sh -text
/configure.ac -text
dev/processar-fitxers.py -text
/modes.xml -text
